html,
body,
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
}

.markdown-light {
}

.markdown-dark {
    color: #ffffff;
}

.markdown-dark a {
    color: #ad54ff;
}

.markdown-light code {
    background-color: #f6f7f8;

    border: 0.1rem solid #0000001a;
    border-radius: 0.4rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 95%;
    padding: 0.1rem 0.1rem;
}

.markdown-dark code {
    background-color: #ffffff1a;
    border: 0.1rem solid #0000001a;
    border-radius: 0.4rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 95%;
    padding: 0.1rem 0.1rem;
}

.markdown-light blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
}

.markdown-dark blockquote {
    background: #292929;
    border-left: 10px solid #111;
}

.markdown th,
.markdown td {
    padding: 4px;
    padding-right: 20px;
}

.markdown-light tbody tr:nth-child(odd) {
    background-color: #eee;
}

.markdown-dark tbody tr:nth-child(odd) {
    background-color: #333;
}

.markdown img {
    max-width: 100%;
}

@media print {
    html, body {
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust: exact;
      }

    .checklist-item {
        padding: 0 !important;
    }
    
    .hidden-print {
        display: none;
    }

    .MuiPaper-elevation {
        box-shadow: none !important;
        border: none !important;
    }

    h1 {
        margin-bottom: 0 !important;
    }
    
    body {
        background-color: transparent !important;
    }
}

@media screen {
    .hidden-screen {
        display: none;
    }
}

li {
    break-inside: avoid !important;
}

/* PDF Export styles */

.pdf-print {
    .checklist-item {
        padding: 0 !important;
    }
    
    .hidden-print {
        display: none;
    }

    .hidden-screen {
        display: block !important;
    }
    
    .MuiPaper-elevation {
        box-shadow: none !important;
        border: none !important;
    }

    .MuiPaper-root {
        background-color: transparent !important;
        padding: 0 !important;
    }

    #checklist-container {
        background-color: transparent !important;
        padding: 0 !important;
        box-shadow: none !important;
        border: none !important;
    }
    
    h1 {
        margin-bottom: 0 !important;
    }   
}
